<md-toolbar layout="row">
  <div class="md-toolbar-tools">
    <span>Awesomedoro!</span>
    <!-- fill up the space between left and right area -->
    <span flex></span>
    <md-button>
      {AUTH}
    </md-button>
  </div>
</md-toolbar>

<div flex layout="row" data-ng-controller="HomeCtrl as home">
  
  <md-content flex="50" layout-padding>
    <ng-include src="'/templates/task.html'"></ng-include>
  </md-content>

  <md-content flex="50" layout-padding>
    <ng-include src="'/templates/work.html'"></ng-include>
  </md-content>

</div>