<div data-ng-controller="TaskCtrl as task">
  <div>
    <p>I want to...</p>
    <input data-ng-model="newTodoTitle" id="todoInput" style="width: 75%; margin-bottom: 5px;">
    <button aria-label="Add todo" data-ng-click="addTodo()">+</button>
    <br />
    <select data-ng-model="newTodoPriority" data-ng-options="priority.name for priority in priorities"></select>
    <br />
    <br />
  </div>
  <hr />
  <button
    data-ng-init="recentTodos = true"
    data-ng-disabled="recentTodos"
    data-ng-click="recentTodos = !recentTodos; archivedTodos = false; completedTodos = false">
    Recent
  </button>
  <button 
    data-ng-disabled="archivedTodos"
    data-ng-click="archivedTodos = !archivedTodos; recentTodos = false; completedTodos = false">
    Archived
  </button>
  <button 
    data-ng-disabled="completedTodos"
    data-ng-click="completedTodos = !completedTodos; recentTodos = false; archivedTodos = false">
    Completed
  </button>
  <br />
  <input data-ng-model="search">
  <div data-ng-show="recentTodos">
    <h3>Recent Todos</h3>
    <ul>
      <li data-ng-repeat="item in todos | filter:search" 
          data-ng-show="todos.length > 0 && isRecentTodo(item)"
          style="clear: both;">
        <button data-ng-click="markComplete(item)">Complete</button>
        {{ item.title }} | {{ item.priority }} <button ng-click="todos.$remove(item)" style="float: right;">-</button>
      </li>
    </ul>
  </div>
  <div data-ng-show="archivedTodos">
    <h3>Archived Todos</h3>
    <ul>
      <li data-ng-repeat="item in todos | filter:search" 
          data-ng-show="isArchivedTodo(item)"
          style="clear: both;">
        {{ item.title }} | {{ item.priority }} <button ng-click="todos.$remove(item)" style="float: right;">-</button>
      </li>
    </ul>
  </div>
  <div data-ng-show="completedTodos">
    <h3>Completed Todos</h3>
    <ul>
      <li data-ng-repeat="item in todos | filter:search" 
          data-ng-show="isCompletedTodo(item)"
          style="clear: both;">
        <button data-ng-click="reActivateTodo(item)">Reactivate</button>
        {{ item.title }} | {{ item.priority }} <button ng-click="todos.$remove(item)" style="float: right;">-</button>
      </li>
    </ul>
  </div>
</div>