<div data-ng-controller="TaskCtrl as task">
  <div>
    <p>I want to...</p>
    <input data-ng-model="newTodoTitle" id="todoInput" style="width: 75%; margin-bottom: 5px;">
    <button aria-label="Add todo" data-ng-click="addTodo(); getStatusCount()">+</button>
    <br />
    <!--<select data-ng-model="newTodoPriority" data-ng-options="priority.name for priority in priorities"></select>-->
  </div>
  <hr />
  <button
    data-ng-init="recentTodos = true;"
    data-ng-disabled="recentTodos"
    data-ng-click="recentTodos = !recentTodos; expiredTodos = false; completedTodos = false; getStatusCount()">
    Recent ({{ activeCount }})
  </button>
  <button 
    data-ng-disabled="expiredTodos"
    data-ng-click="expiredTodos = !expiredTodos; recentTodos = false; completedTodos = false; getStatusCount()">
    Expired ({{ expiredCount }})
  </button>
  <button 
    data-ng-disabled="completedTodos"
    data-ng-click="completedTodos = !completedTodos; recentTodos = false; expiredTodos = false; getStatusCount()">
    Completed ({{ completedCount }})
  </button>
  <!--Search<input data-ng-model="search">-->
  <div data-ng-show="recentTodos">
    <h3>Recent Todos</h3>
    <ul>
      <li data-ng-repeat="item in todos | filter:search" 
          data-ng-show="showTodosFor(item, 'active')"
          style="clear: both;">
        <button data-ng-click="markComplete(item); getStatusCount()">Complete</button>
        {{ item.title }} <button ng-click="todos.$remove(item); getStatusCount()" style="float: right;">-</button>
      </li>
    </ul>
  </div>
  <div data-ng-show="expiredTodos">
    <h3>Expired Todos</h3>
    <ul>
      <li data-ng-repeat="item in todos | filter:search" 
          data-ng-show="showTodosFor(item, 'expired')"
          style="clear: both;">
        <button data-ng-click="reActivateTodo(item); getStatusCount()">Reactivate</button>
        {{ item.title }} | {{ item.priority }} <button ng-click="todos.$remove(item); getStatusCount()" style="float: right;">-</button>
      </li>
    </ul>
  </div>
  <div data-ng-show="completedTodos">
    <h3>Completed Todos</h3>
    <ul>
      <li data-ng-repeat="item in todos | filter:search" 
          data-ng-show="showTodosFor(item, 'completed')"
          style="clear: both;">
        <button data-ng-click="unCompleteTodo(item); getStatusCount()">Uncomplete</button>
        {{ item.title }} | {{ item.priority }} <button ng-click="todos.$remove(item); getStatusCount()" style="float: right;">-</button>
      </li>
    </ul>
  </div>
</div>